<%- include('header') %>
<link rel="stylesheet" href="/styles/style.css">
    <title>PoKAdex</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>PoKAdex</h1>
        <div id="dex">
          <% if(dex.length == 0) {%>
          <p style="text-align: center"><%= 'Pokedex was not found' %></p>
          <% } %> <% dex.forEach((pokemon)=>{%>
          <a href="/pokemon/<%- pokemon.name %> " class="poke-container">
            <p class="pokemon-id"><%= `#${pokemon.id}` %></p>
            <h2 class="pokemon-name">
              <%=
              `${pokemon.name.charAt(0).toUpperCase()}${pokemon.name.slice(1)}`
              %>
            </h2>
            <img
              class="pokemon-image"
              src="<%- pokemon.image %> "
              alt="Picture of <%- pokemon.name %> "
              loading="lazy"
            />
            <div class="pokemon-types">
              <% pokemon.typeArray.forEach(t => { %> <% let whatType = '' %> <%
              types.forEach(element => { %> <% if(element == t.type.name)
              whatType = element; %> <% }) %>
              <div class="type <%- whatType %>"><%= t.type.name %></div>
              <% }) %>
            </div>
          </a>
          <%}) %>

          <%  %>
          <a href="/<%- parseInt(offset) + 20 %>" id="moreBtn"> More ></a>
        </div>

        
      </div>
    </main>
  </body>
</html>
