<%- include('header') %>

<title>PoKAdex</title>
<link rel="stylesheet" href="/styles/pokemon.css">
</head>

<body>
  <main>
    <div class="container">
      <div class="poke-details">
        <p class="pokemon-id">#<%= id %> </p>
        <h1 class="pokemon-name"><%= name %> </h1>
        <img src="<%- imageURL %> " alt="" class="pokemon-image">

        <div class="pokemon-stats">
          <% stats.forEach(stat => { %>
            <div class="stat">
              <span class="stat-name"><%= stat.name %> </span>
              <div class="stat-bar">
                <div class="inner" <%- `style="${stat.style_stat}"` %>><span><%= stat.base_stat %></span> </div>
              </div>
            </div>
          
          <% }) %>
        </div>
      </div>

    </div>
  </main>
</body>

</html>